:root {
    --primary_color: #075b9a;
    --button_color: #1389FD;
    
}
.navbar-default .nav li a {
    color: var(--primary_color);
}
.navbar-default .navbar-brand {
    color: var(--primary_color);
}

header {
    color: var(--primary_color);
}

.text-primary {
    color: var(--primary_color);
}

a {
    color: var(--primary_color);
}
a:hover,
a:focus,
a:active,
a.active {
    color: var(--primary_color);
}

a {
    color: var(--primary_color);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: var(--primary_color);
    background-color: var(--primary_color);
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: var(--button_color);
    background-color: var(--button_color);
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: var(--primary_color);
    background-color: var(--primary_color);
}

.btn-xl .badge {
    color: var(--button_color);
}

.btn-primary {
    border-color: var(--button_color);
    background-color: var(--button_color);
}

.btn-xl {
    border-color: var(--button_color);
    background-color: var(--button_color);
}

.open .dropdown-toggle.btn-xl {
    border-color: var(--button_color);
    background-color: var(--button_color);
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: var(--primary_color);
}

.navbar-default .navbar-toggle {
    border-color: var(--primary_color);
    background-color: var(--primary_color);
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: var(--primary_color);
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: var(--primary_color);
}

.navbar-default .navbar-nav>.active>a {
    background-color: var(--primary_color);
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: var(--primary_color);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: var(--primary_color);
}

.timeline>li .timeline-image {
    background-color: var(--primary_color);
}

section#contact .form-control:focus {
    border-color: var(--primary_color);
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: var(--primary_color);
}

::-moz-selection {
    background: var(--primary_color);
}

::selection {
    background: #075b9a;
}

body {
    webkit-tap-highlight-color: var(--primary_color);
}